* {
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    background-color: #faf6ea;
}

h1 {
    text-align: center;
    font-family: Helvetica;
}

h2 {
    text-decoration: none;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    margin-bottom: 10px;
    text-decoration: none;
}

h4, .texto {
    margin-bottom: 0%;
    margin-top: -10px;
    text-align: left;
}

h5 {
    color: #000;font-style: bolder;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: o auto;
}

.row {
    text-align: center;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

button {
    padding: 10px;
    border: none;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
}

.but5 {
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: Helvetica;
    font-size: bolder;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }

    form {
        width: 100%;
    }
}

/* ESTILO DA INDEX (PÁGINA DE LOGIN) */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 99vh;
    background-color: #faf6ea;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

select {
    padding: 4px;
}

.formLogin input {
    padding: 7px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    margin-top: 2px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.but {
    text-decoration: none;
    display: flex;
    height: 10%;
    text-align: center;
    font-family: Helvetica;
    font-size: 14px;
    background-color: #24c707;
    border-radius: 15px;
    color: #fff;
    margin: none;
    border: none;
}

.but3 {
    text-decoration: none;
    border: none;
    border-radius: 15px;
    background-color: #b8b814;
    color: #fff;
    width: 100%;
    height: 45px;
    margin: 0;
    font-weight: 200;
}

.butback {
    text-decoration: none;
    border: none;
    border-radius: 15px;
    background-color: #b8b814;
    color: #fff;
    width: 80%;
    height: 10%;
    font-weight: 400;
    padding-bottom: auto;
}

.but5 {
    background-color: #cccccc75;
    color: #333;
    border: 3px solid #333;
    box-shadow: #333;
    letter-spacing: 0;
}

h3 {
    color: #fff;
    text-align: center;
}

.btn {
    background-color: #24c707;
    height: 45px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ESTIILIZANDO PÁGINA DE CARDS PARA CADASTRO E ALTERAÇÕES */

.secao4 {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.secao4-div-card img {
    padding-top: 10%;
    max-width:60px;
    max-height:90px;
}

.secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10px;
    margin: 5px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    height: 130px;
}

.secao4-div-card img {
    width: 50%;
    height: auto;
}

.secao4-div-card h3 {
    margin-bottom: 0px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .secao4-div-card {
        width: 80%;
    }
}

/* NAVBAR */

.container {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    padding: 2%;
    height: 0;
}

#checkbox-menu {
    position: fixed;
    opacity: 0;
}

label #alt {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    margin-top: 3%;
    display: block;
    height: 3px;
    width: 6%;
    border-radius: 30px;
    background: #000;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}